$primary-bg-color: #101211 ;
$primary-font-color: whitesmoke;
$secondary-font-color: #ff6600;
$optional-font-color:#b35300;
// $font-fam: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
$font-fam: "font-family: Georgia, serif;";
$heading-font-fam: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;

$sports:#cd2524;
$africa: #ff6600;
$meta: #f1c54e;